# STEP ONE: DATA ACQUISITION AND FORMATTING

In [525]:
# Importing the necessary libraries
import pandas as pd
import datetime as dt

In [526]:
# Reading in the CSV file and displaying the first five activities
activities_df = pd.read_csv("C:/Users/17178/Desktop/GITHUB_PROJECTS/Strava-API-and-Sheets-Integration/python/data/GoonsActivities.csv", header=0)
activities_df.head(5)

,ATHLETE,ACTIVITY ID,RUN,MOVING TIME,DISTANCE,PACE,FULL DATE,TIME,DAY,MONTH,DATE,YEAR,SPM AVG,HR AVG,WKT TYPE,DESCRIPTION
0,PAIGE O,8861534949,Highest mileage week ever,01:53:01,15.02,00:07:33,4/9/2023,10:40:53 AM,SUN,4,9,2023,188.0,155.8,0.0,NaN
1,PATRICK L,8860938466,Now this is a recovery run...when your not rec...,01:02:02,6.35,00:09:48,4/9/2023,10:38:04 AM,SUN,4,9,2023,162.6,141.9,0.0,NaN
2,MARK M,8862725101,4 weeks out,00:35:03,4.30,00:08:18,4/9/2023,8:34:22 AM,SUN,4,9,2023,NaN,133.5,0.0,Lots of school and miles to get in before the ...
3,PATRICK L,8855632342,"8M WU, 8M @ MP, 5M CD",02:42:01,21.03,00:07:43,4/8/2023,10:52:34 AM,SAT,4,8,2023,178.0,163.6,2.0,Well... That felt good! Kept WarmUp 8 below 8:...
4,DAVID L,8854595749,Little Friend,00:22:03,2.48,00:09:05,4/8/2023,10:40:45 AM,SAT,4,8,2023,163.0,157.4,0.0,Got home with a pal in tow

In [527]:
# Viewing data types of each column
activities_df.dtypes

ATHLETE         object
ACTIVITY ID      int64
RUN             object
MOVING TIME     object
DISTANCE       float64
PACE            object
FULL DATE       object
TIME            object
DAY             object
MONTH            int64
DATE             int64
YEAR             int64
SPM AVG        float64
HR AVG         float64
WKT TYPE       float64
DESCRIPTION     object
dtype: object

In [528]:
# Converting full date to a sortable format
activities_df["FULL DATE"] = activities_df["FULL DATE"].astype("string")
activities_df["FULL DATE"] = pd.to_datetime(activities_df["FULL DATE"], yearfirst=False, dayfirst=False)

# Converting time to a sortable (24h) format (for new column, "SORT TIME")
activities_df["SORT TIME"] = pd.to_datetime(activities_df["TIME"], format='%I:%M:%S %p').dt.strftime('%H:%M:%S')

# Sorting the dataframe by full date and time in descending order
activities_df = activities_df.sort_values(by=["FULL DATE", "SORT TIME"], ascending=[False, False]) # Extra precaution (things should be sorted properly as is)

In [529]:
activities_df[["ATHLETE", "ACTIVITY ID", "FULL DATE", "SORT TIME", "TIME" ]]

       ATHLETE  ACTIVITY ID  FULL DATE SORT TIME         TIME
0      PAIGE O   8861534949 2023-04-09  10:40:53  10:40:53 AM
1    PATRICK L   8860938466 2023-04-09  10:38:04  10:38:04 AM
2       MARK M   8862725101 2023-04-09  08:34:22   8:34:22 AM
3    PATRICK L   8855632342 2023-04-08  10:52:34  10:52:34 AM
4      DAVID L   8854595749 2023-04-08  10:40:45  10:40:45 AM
..         ...          ...        ...       ...          ...
271    TIMMY B   8457699167 2023-01-26  17:59:54   5:59:54 PM
272  PATRICK L   8454470364 2023-01-26  06:31:26   6:31:26 AM
273  PATRICK L   8449259356 2023-01-25  06:55:43   6:55:43 AM
274  PATRICK L   8447315741 2023-01-24  19:22:46   7:22:46 PM
275    TIMMY B   8447066710 2023-01-24  17:49:38   5:49:38 PM

[276 rows x 5 columns]