# STEP ONE: DATA ACQUISITION AND FORMATTING

In [70]:
# Reading in the csv file
import pandas as pd

activities_df = pd.read_csv("C:/Users/17178/Desktop/GITHUB_PROJECTS/Strava-API-and-Sheets-Integration/python/data/GoonsActivities.csv")
activities_df.head(5) # Viewing the first five activities from GoonsActivities.csv

,ATHLETE,ACTIVITY ID,RUN,MOVING TIME,DISTANCE,PACE,FULL DATE,TIME,DAY,MONTH,DATE,YEAR,SPM AVG,HR AVG,WKT TYPE,DESCRIPTION
0,DAVID L,8847327978,The Chilling of a Sacred Beer,00:49:01,5.11,00:09:38,4/7/2023,6:54 AM,FRI,4,7,2023,158.0,166.1,0.0,NaN
1,PATRICK L,8845200632,Easy TM Run,00:56:04,6.04,00:09:23,4/6/2023,7:30 PM,THU,4,6,2023,167.0,126.8,0.0,NaN
2,PAIGE O,8843390044,Jog,00:56:02,7.02,00:08:02,4/6/2023,10:45 AM,THU,4,6,2023,184.8,149.1,0.0,NaN
3,MARK M,8842522035,Morning Run,01:00:03,8.04,00:07:32,4/6/2023,9:00 AM,THU,4,6,2023,NaN,149.3,0.0,Fun in the mist w Sean
4,DAVID L,8841876405,We’re So Back,00:56:00,5.81,00:09:39,4/6/2023,6:50 AM,THU,4,6,2023,155.8,169.0,0.0,& so’s the humidity! Last 2 days have felt su...

In [76]:
# Viewing data types of each column
activities_df.dtypes

ATHLETE                object
ACTIVITY ID             int64
RUN                    object
MOVING TIME            object
DISTANCE              float64
PACE                   object
FULL DATE      datetime64[ns]
TIME                   object
DAY                    object
MONTH                   int64
DATE                    int64
YEAR                    int64
SPM AVG               float64
HR AVG                float64
WKT TYPE              float64
DESCRIPTION            object
dtype: object

In [79]:
# Converting full date
activities_df["FULL DATE"] = activities_df["FULL DATE"].astype("string")
activities_df["FULL DATE"] = pd.to_datetime(activities_df["FULL DATE"])
activities_df = activities_df.sort_values(by=["FULL DATE"], ascending=False) # Extra precaution (things should be sorted properly as is)

# Converting moving time

,ATHLETE,ACTIVITY ID,RUN,MOVING TIME,DISTANCE,PACE,FULL DATE,TIME,DAY,MONTH,DATE,YEAR,SPM AVG,HR AVG,WKT TYPE,DESCRIPTION
0,DAVID L,8847327978,The Chilling of a Sacred Beer,00:49:01,5.11,00:09:38,2023-04-07,6:54 AM,FRI,4,7,2023,158.0,166.1,0.0,NaN
1,PATRICK L,8845200632,Easy TM Run,00:56:04,6.04,00:09:23,2023-04-06,7:30 PM,THU,4,6,2023,167.0,126.8,0.0,NaN
2,PAIGE O,8843390044,Jog,00:56:02,7.02,00:08:02,2023-04-06,10:45 AM,THU,4,6,2023,184.8,149.1,0.0,NaN
3,MARK M,8842522035,Morning Run,01:00:03,8.04,00:07:32,2023-04-06,9:00 AM,THU,4,6,2023,NaN,149.3,0.0,Fun in the mist w Sean
4,DAVID L,8841876405,We’re So Back,00:56:00,5.81,00:09:39,2023-04-06,6:50 AM,THU,4,6,2023,155.8,169.0,0.0,& so’s the humidity! Last 2 days have felt su...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,TIMMY B,8457699167,Afternoon Run,00:46:02,6.00,07:44:00,2023-01-26,5:59 PM,THU,1,26,2023,168.8,152.7,NaN,NaN
262,PATRICK L,8454470364,Easy TM Run,00:38:05,4.01,09:42:00,2023-01-26,6:31 AM,THU,1,26,2023,169.6,135.0,NaN,NaN
263,PATRICK L,8449259356,Easy TM Run,00:39:03,4.14,09:32:00,2023-01-25,6:55 AM,WED,1,25,2023,170.0,134.1,NaN,NaN
264,PATRICK L,8447315741,WarmUp+ Easy TM Run,00:41:01,4.16,09:55:00,2023-01-24,7:22 PM,TUE,1,24,2023,169.0,133.7,NaN,NaN
265,TIMMY B,8447066710,"3x(30,60,45) hill repeat",00:52:01,7.06,07:24:00,2023-01-24,5:49 PM,TUE,1,24,2023,169.2,147.2,NaN,NaN

In [84]:
# Testing conversions of time-based jawns (hh:mm:ss)
times = ({'TIME':["00:49:01","00:56:04","00:56:02"]})
times_df = pd.DataFrame(times)

# might have to do some specific parsing for this guy unless we find a fancy library
times_df["TIME"] = pd.to_timedelta(times_df["TIME"])
times_df

             TIME
0 0 days 00:49:01
1 0 days 00:56:04
2 0 days 00:56:02